#icon-footer {
    font-size: 2.2em;
    transition: ease-in 0.2s;    
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;     
    border-radius: 100px;    
}

#icon-footer:hover {
    color: black;
    background-color: var(--selected-color);
    transform: scale(1.1);
}

.linkfoot:hover {
    color: #83c71e;
}